@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotolight.woff2") format("woff2"), url("../fonts/robotolight.woff") format("woff");
}

@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotothin.woff2") format("woff2"), url("../fonts/robotothin.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Subway";
  font-style: normal;
  src: url("../fonts/subway.woff2") format("woff2"), url("../fonts/subway.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "olivier";
  font-style: normal;
  src: url("../fonts/olivier.woff2") format("woff2"), url("../fonts/olivier.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1560px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-family: "Roboto";

  background-color: #ffffff;
}

.button {
  display: block;

  cursor: pointer;
  border-radius: 10px;
}

.page-header {
  margin-bottom: 285px;
  height: 1000px;

  background-image:
  url("../img/bg-transparent.jpg"),
    url("../img/bg-index.jpg");
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003d57;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 175px;
  padding-top: 110px;
  padding-left: 210px;
  padding-right: 187px;
}

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.lang-list__link {
  padding: 15px;

  font-size: 20px;
  line-height: 20px;
  color: #11a8ab;
  font-weight: 300;
  text-decoration: none;
}

.lang-list__link--active {
  color: #ffffff;
  cursor: default;
}

.main-theme {
  width: 1124px;
  margin-left: auto;

  text-align: center;
}

.main-theme__boka {
  margin: 0;
  margin-bottom: 23px;

  font-family: "Subway";
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  letter-spacing: 20px;
}

.main-theme__subtitle {
  display: block;
  margin-bottom: 132px;

  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto";
  letter-spacing: 12px;
}

.main-theme__button {
  width: 260px;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 10px;

  border: 1px solid #ffffff;
}

.page-main {
  width: 1168px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.page-main__title {
  margin: 0;
  margin-bottom: 79px;

  text-align: center;
  font-size: 80px;
  line-height: 80px;
  color: #1f253d;
  font-family: "olivier";
}

.form {
  margin-left: 213px;
  margin-bottom: 280px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
}

.form__wrapper:nth-child(2) {
  margin-bottom: 48px;
}

.form__name {
  display: block;
  width: 190px;
  margin: 0;
  padding-top: 18px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  color: #1f253d;
}

.form__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.form__radio {
  display: none;
}

.form__radio:disabled ~ .form__radio-wrapper .form__label-radio {
  color: #ffffff;

  background-color: #1f253d;
}

.form__radio--men-gender:checked ~ .form__radio-wrapper--gender label[for="men-gender"],
.form__radio--women-gender:checked ~ .form__radio-wrapper--gender label[for="women-gender"],
.form__radio--men-partner:checked ~ .form__radio-wrapper--partner label[for="men-partner"],
.form__radio--women-partner:checked ~ .form__radio-wrapper--partner label[for="women-partner"] {
  color: #ffffff;

  background-color: #1f253d;
}

.form__label-radio {
  width: 195px;
  padding: 20px 0;
  margin-right: 97px;

  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  color: #1f253d;
  text-align: center;

  border: 1px solid #1f253d;
  background-color: #ffffff;
}

.form__label-radio--current {
  color: #ffffff;

  background-color: #1f253d;
}

.form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 10px;
}

.form__field {
  width: 480px;
  padding: 20px 0;
  padding-top: 25px;

  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  color: #1f253d;

  border: none;
}

.form__field::-webkit-input-placeholder {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  color: #1f253d;
}

.form__field:-ms-input-placeholder {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  color: #1f253d;
}

.form__field::-ms-input-placeholder {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  color: #1f253d;
}

.form__field::placeholder {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  color: #1f253d;
}

.form__button {
  width: 290px;
  margin: 0;
  margin-top: 102px;
  margin-bottom: 35px;
  margin-left: 290px;
  padding: 25px 0;

  font-family: "Roboto";
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;

  background-color: #1f253d;
  border: none;
}

.form__agreement {
  display: block;
  width: 540px;
  margin: 0;
  margin-left: 150px;

  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  color: #1f253d;
  text-align: center;
  letter-spacing: 1.1px;
}

.pictures {
  position: relative;
  margin-bottom: 170px;
}

.pictures__item {
  vertical-align: middle;
}

.pictures__item--absolute {
  position: absolute;
  right: 5px;
}

.pictures__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pictures__item--top {
  height: 300px;
}

.tips__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 50px;
  line-height: 50px;
  color: #1f253d;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 100;
}

.tips__description {
  margin: 0;
  margin-bottom: 260px;

  font-size: 20px;
  line-height: 20px;
  color: #1f253d;
  font-weight: 100;
  letter-spacing: 1.9px;
}

.copyright {
  display: block;
  width: 526px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  color: #1f253d;
}

.page-footer {
  width: 1168px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  position: relative;
  padding: 35px 0;
  font-size: 25px;
  line-height: 25px;
  color: #1f253d;
  font-weight: 300;
}

.nav__link--active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 8px;

  background-color: #1f253d;
}
